@charset "UTF-8";

 *{

    text-decoration: none;
    font-family: "poppins", sans-serif;
    }


/*destaque pagina inicial*/

div.galeria > a {
    font-size: 0.8rem;
    
}

.card.galeria img {
    padding: 3px 0px 0px 0px;
}
.linha{
    margin: 0px 10px 0px 10px;
    padding: 0px 10px 0px 10px;

}


.overlay.orange, .overlay.gray{
    font-size: 0.6rem;
    padding: 0px; 
}

.overlay p{
    font-style: italic;
    font-size: 0.55rem;
}



/*lançamentos*/


fieldset legend {
    max-width: 600px;
    letter-spacing: 0.1rem;
}

.lancamento-cards {
    max-width: 600px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card-lanc{
    border: 1px solid var(--cor1);
    max-width: 200px;
    width: 100%;
    padding: 0 10px 10px;
}

.card-lanc img{
    min-width: 140px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.titulo-card h4 {
    font-size: 0.7rem;
}

/*Designers*/

.desi-card img {
    min-width: 120px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

}

p.media-username{
    font-size: 1rem;
}


/*materia lançamentos */

.midia {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

}

.img-capa{
    border: 1px solid var(--cor1);
    padding: 10px;
    min-width: 220px;
    width: 100%;

}
.info-midia > p {
    text-align: justify;
    margin: 10px 0;
    font-size: 1em;
    line-height: 2em;
}

/*fale conosco*/



.fale-conosco, textarea {
    width: 350px;
    min-width: 300px;
}

button#botao-enviar {
    width: 350px;
    height: 40px;
    background-color: var(--cor1);
    color: white;
}

/* quem somos */

div.equipe-site {
   
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;

}



div.apresentacao > p{
    font-size: 1.32rem;
    margin: 15px 0 15 px 0;

}

.equipe-revista {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    align-items: center;
   
}


