@charset "UTF-8";

/*materias*/


main.materia{
    min-width: 300px;
    max-width: 800px;
    margin: auto;
    margin-bottom: 200px;
    
    
}

.ano{
    font-size: 0.7rem;
    font-weight: 600;
    margin: 15px 10px 50px 0px;
}

article{
    margin-bottom: 200px;
    padding: 20px;
}
 
.titulo-materia {
    font-weight: 600;
    font-size: 2em;
    margin: 30px 0px 0px -10px;
    letter-spacing: 3px;
}

.subtitulo-materia {
    font-weight: normal;
    letter-spacing: 3px;
}

article > h6 {
    margin: 30px;
 }
.paragrafo {
    margin: 20px 0px;
    text-align: justify;
    
    font-size: 1.1em;
    line-height: 2.5em;
}

.imagem-unica{
    width: 100%;
}

.imagem-unica img{
    width: 100%;
    height: auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.450);
}

.img-group {
    width: 100%;
    display: grid;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.45);
    
} 
.img-group-01 {
    margin-bottom: 23.4%;
}

.container-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5%;
   
}


/*sobre nos*/

.titulo-infos {
    text-align: center;
    letter-spacing: 3.5px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 50px 0 90px 0;
}

fieldset {
    text-align: center;
    margin: 30px auto 50px;
    padding: 0;
    max-width: 100%;
} 

ul > .lista-sobre-nos{
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 2px;
}
ul > p.paragrafo{
    padding-left: 40px;
}




/*interação*/



#interacao-div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
}


.div-intera {
    margin: 30px 50px 10px 50px;
    
}
p.interacao {
    font-size: larger;
    font-weight: 700;
    letter-spacing: 2px;
}


#main-redes-sociais {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}

.main-link{
   display: flex;
}


#main-redes-sociais .main-link {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--cor0);
    background-color: var(--cor2);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#main-redes-sociais .main-link i {
    font-size: 1.45rem;
}