@charset "UTF-8";


:root {
    --cor0: #dcdcde;
    --cor1: #f99c46;
    --cor1-1: #f99c46b2;
    --cor2: #ffaf59;
    --cor2-2: #ffaf59d3;
    --cor3: #7a7e8a;
    --cor3-1: #7a7e86b2;
}

.midia {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 20px; 
    align-items: center;
    margin: 10px 0px 100px 0px;
}

.bloco-lancamento{
    margin-top: 20px;
}

a.link-bloco-lancamento{
    color: black;
    cursor: pointer ;
    letter-spacing: 0.3rem;
}

.img-capa {
    border: 1px solid var(--cor1);
    padding: 10px;
    max-width: 250px;
    width: 100%;
}



.info-midia > p {
    
    margin: 10px 0px;
    text-align: justify;
    font-size: 1.1em;
    line-height: 2.5em;
}

.nome-midia{
    font-size: large;
    font-weight: 600;
}
strong {
    font-weight: 600;
}


.link-album {
    text-decoration: none;
    color: black;
}

.link-album:hover {
    color: var(--cor1);
}