@charset "UTF-8";


/*destaque pagina inicial*/
.linha{
    margin: 0px 10px 0px 10px;
    padding: 0px 10px 0px 10px;

}

.overlay.orange, .overlay.gray{
    font-size: 0.7rem;
    padding: 0px; 
}

.overlay p{
    font-style: italic;
    font-size: 0.6rem;
}



/*lançamentos*/


fieldset legend {
    max-width: 600px;
    letter-spacing: 0.1rem;
}

.lancamento-cards {
    max-width: 600px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card-lanc{
    border: 1px solid var(--cor1);
    max-width: 200px;
    width: 100%;
    padding: 0 10px 10px;
}

.card-lanc img{
    min-width: 140px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.titulo-card h4 {
    font-size: 0.7rem;
}

/*Designers*/

.desi-card img {
    min-width: 120px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

}

p.media-username{
    font-size: 1rem;
}


/*materia lançamentos */

.midia {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;

}

.capa {
    display: flex;
    justify-content: center;
}
.img-capa{
    border: 1px solid var(--cor1);
    padding: 10px;
    min-width: 220px;
    width: 100%;

}
.info-midia > p {
    text-align: justify;
    margin: 10px 0;
    font-size: 1em;
    line-height: 2em;
}

