@charset "UTF-8";






fieldset legend {
    max-width: 600px;
    letter-spacing: 0.1rem;
}

.lancamento-cards {
    max-width: 600px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card-lanc{
    border: 1px solid var(--cor1);
    max-width: 200px;
    width: 100%;
    padding: 0 10px 10px;
}

.card-lanc img{
    min-width: 160px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.titulo-card h4 {
    font-size: 0.8rem;
}