@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('../estilo/article.css');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    letter-spacing: 0.6px;
}

:root {
    --cor0: #dcdcde;
    --cor1: #f99c46;
    --cor1-1: #f99c46b2;
    --cor2: #ffaf59;
    --cor2-2: #ffaf59d3;
    --cor3: #7a7e8a;
    --cor3-1: #7a7e86b2;

    

}

body {
    background-color: var(--cor0);
    font-family: "poppins", sans-serif;
    width: 100%;
}




header > p {
    background-color: var(--cor3);
    color: #f99c46;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-weight: 200;
    font-style: normal
}

.centralizar {
    text-align: center;
    margin-top: -50px; 
}

header > div > img {
    height: auto;
    width: 200px;
}

.material-symbols-outlined {
    margin-top: 7px;
    margin-left: 10px;
}

.menu-nav {
    display: flex;
    flex-direction: column; 
    align-items: center;
    white-space: nowrap;
}

.nav {
    width: 100%;
    max-width: 800px; 
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--cor1);
    border-bottom: 1px solid var(--cor1);
    overflow-x: auto;
}

.nav::-webkit-scrollbar {
  display: none;
}

.nav a {
  text-decoration: none;
  color: #111;
  font-size: 15px;
  padding: 6px 10px;
}


/*main*/

main.container {
    max-width: 1120px;
    min-width: 300px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
  
}

.destaques {
    max-width: 800px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    justify-content: space-between;

}

.card {
    position: relative;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card img{
    width: 100%;
    display: block;
}

.card > a{
    color: black;
}

.big-card-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 20px 0px 0px 0px;
}

.linha{
    border-top: 1px solid white;
    margin: 10px;
    padding: 10px;
}

.sombra-texto {
    text-shadow: 2px 2px 12px #2b2b2bb8;
}

.overlay.gray > .linha{
    border-top: 1px solid var(--cor1);
}

.overlay.orange, .overlay.gray{
    text-align: center;
    position: absolute; 
    bottom: 0px;
    font-size: 0.8rem;
    width: 100%;
    padding: 10px;
    height: clamp(70px, 10vw,  110px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    
}

.overlay.orange { 
    background: var(--cor1-1);
    color: white;
}

.overlay.gray {
    background: var(--cor3-1);
    color: var(--cor1);
}

.overlay p{
    font-style: italic;

}

.galeria{
    margin-top: 20px;
    text-align: center;
    border: 1px solid var(--cor1);
}

.big-card-1.barra-galeria{
    margin: 0px;
}
.barra-galeria{
    margin: 0px 10px;
}

div.shadow{
    box-shadow: 0px 35px 45px -30px rgba(87, 87, 87, 0.446);
}

.big-card-2 img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    padding: 8px 0px 0px 0px;
}

.orange a > h3 {
    color: white;
}

.gray a > h3 {
    color: var(--cor1);
}




fieldset {
    
    border: none;
    border-top: 1px solid var(--cor3-1);

    text-align: center;
    margin: 30px auto 0;
    padding: 0;

    max-width: 100%;

    /* max-width: 100vw;
    border-top: 1px solid #333;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: block;
    text-align: center;
    margin: 30px 0px 0px 0px;
    margin-inline: 40px;  */
}

fieldset legend {
    padding: 0px 1.5rem;
    font-size: clmap(1rem, 4vw, 1.3rem);
    font-weight: 300;
    letter-spacing: 0.3rem;
}

section.lancamentos{
    max-width: 800px;
    width: 100%;
    margin: 40px auto;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
}

.lancamento-cards{
    display: flex;
    column-gap: 40px;
}

.card-lanc{
    border: 1px solid var(--cor1);
    max-width: 220px;
    width: 100%;
    padding: 0 20px 10px;
}

.card-lanc img{
    min-width: 180px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    
} 
.titulo-card h4{
    font-size: 0.7rem;
    font-weight: 600;
    text-align: center;
    
    color: black;
    margin: 8px 0px 10px 0px;
}



section.designers {
    max-width: 800px;
    width: 100%;
    margin: 40px auto;
    padding: 0 1rem;
    position: relative;
    /* display: flex;
    justify-content: center; */
} 

.button-scroll {
    position: absolute;
    top: 30%;
    background: none;
    color: var(--cor3-1);
    border: none;
    font-size: 2rem;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 10;
    
}

.button-scroll.left {
    left: -5px;
}

.button-scroll.right {
    right: -5px;
}

.designers-cards {
    display: flex;
    gap: 50px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 20px;
}

.designers-cards::-webkit-scrollbar {
    display: none;
}

.desi-card{
    flex-shrink: 0;
    align-items: center;
}

.desi-card img {
    max-width: 220px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;

}

img.img-desi-card{
    box-shadow: 0px 0.8px 10px var(--cor3-1);
}

.media-username {
    
    box-shadow: 0.5px 0.5px 10px var(--cor3-1);
    background-color: var(--cor2-2);
    border-radius: 25px;
    width: 250px;
    color: #ffffff;
    padding: 10px;
    margin-top: 20px;
    font-weight: 600;
    letter-spacing: 0.15rem;
    text-align: center;
    align-items: center;
}


/*footer*/
footer {
    width: 100%;
    color: var(--cor2-2);
    margin: 100px 0px 0px 0px;
    
}

#footer-content {
    background-color: var(--cor3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}


#footer-incricao {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--cor2-2);
}
#input-group {
    display: flex;
    align-items: center;
    background-color: var(--cor0);
    border-radius: 4px;
}
#input-group input {
    all: unset;
    padding: 0.2rem;
    width: 100%;
}
#input-group button {
    background-color: var(--cor1);
    border: none;
    color: var(--cor0);
    padding: 0px 1.25rem;
    font-size: 1.35rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

#input-group button:hover {
    opacity: 0.8;
}

#footer-contatos p {
    margin-top: 1.2rem;
    margin-bottom: 0.75rem;
    color: var(--cor0);
    
}

#footer-redes-sociais {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}


#footer-redes-sociais .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--cor0);
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer-redes-sociais .footer-link i {
    font-size: 1.45rem;
}

#footer-redes-sociais .footer-link:hover {
    transform: translate(-3px, -3px);
}

.footer-lista {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    text-align: right;

}

.footer-lista .footer-link {
    color: var(--cor0);
}

.footer-lista .footer-link:hover {
    color: var(--cor1-1);
}

@media screen and (max-width:800px) {
    #footer-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width:440px) {
    #footer-content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 1.5rem;
        justify-content: right;
    }
}



