@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('../estilo/article.css');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    letter-spacing: 0.6px;
}

:root {
    --cor0: #dcdcde;
    --cor1: #f99c46;
    --cor1-1: #f99c46b2;
    --cor2: #ffaf59;
    --cor2-2: #ffaf59d3;
    --cor3: #7a7e8a;
    --cor3-1: #7a7e86b2;

    

}

body {
    background-color: var(--cor0);
    font-family: "poppins", sans-serif;
    width: 100%;
}




header > p {
    background-color: var(--cor3);
    color: #f99c46;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-weight: 200;
    font-style: normal
}

.centralizar {
    text-align: center;
    margin-top: -50px; 
}

header > div > img {
    height: auto;
    width: 200px;
}

.material-symbols-outlined {
    margin-top: 7px;
    margin-left: 10px;
}

.menu-nav {
    display: flex;
    flex-direction: column; 
    align-items: center;
    white-space: nowrap;
}

.nav {
    width: 100%;
    max-width: 700px; 
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--cor1);
    border-bottom: 1px solid var(--cor1);
    overflow-x: auto;
}

.nav::-webkit-scrollbar {
  display: none;
}

.nav a {
  text-decoration: none;
  color: #111;
  font-size: 15px;
  padding: 6px 10px;
}


/*main*/

main.container {
  max-width: 1120px;
  min-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  
}

.destaques {
    margin: 10px 605px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    justify-content: space-between;

}

.card {
    position: relative;
}

.big-card-1 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 20px 0px 0px 0px;
}

.card > a{
    color: black;
}

.linha{
    border-top: 1px solid white;
    margin: 10px;
    padding: 10px;
}

.overlay.gray > .linha{
    border-top: 1px solid var(--cor1);
    margin: 10px;
    padding: 10px;
}

.overlay.orange {
    text-align: center;
    position: absolute;
    bottom: 0;
    background: var(--cor1-1);
    color: white;
    font-size: 0.8rem;
    width: 100%;
    padding: 10px;
}

.overlay p{
    font-style: italic;
}
.galeria{
    margin: 20px 0px 0px 0px;
    text-align: center;
    border: 1px solid var(--cor1);
     /* padding: 0px 10px;  */
}

.barra-galeria{
    margin: 0px 10px;
}

div.shadow{
   box-shadow: 0px 35px 45px -30px rgba(87, 87, 87, 0.446);

}

.big-card-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  padding: 8px 0px 0px 0px;
}


.overlay.gray {
    text-align: center;
    position: absolute;
    bottom: 0px;
    background: var(--cor3-1);
    color: var(--cor1);
    font-size: 0.8rem;
    width: 100%;
    height: auto;
    padding: 10px;
}

.orange a > h3 {
    color: white;
}

.gray a > h3 {
    color: var(--cor1);
}




section.lancamentos{
    margin: 60px 600px;
    display: flex;
    gap: 50px;
    justify-content: center;

    
}

.lancamento-cards{
    margin: 10px;
    display: flex;
    
    flex-direction: row;
    column-gap: 45px;
}

.card-lanc{
    border: 1px solid var(--cor1);
    justify-content: space-between;
    margin: 0px;
    padding: 0px 15px 5px 15px;
}

.card-lanc img{
    width: 180px;
    height: 180px;
    
} 
.titulo-card h4{
    font-size: 8px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    color: black;
    margin: 5px 0px 10px 0px;
}

.lancamentos> a > img{
    
}


/*footer*/
footer {
    width: 100%;
    color: var(--cor2-2);
    
}

#footer-content {
    background-color: var(--cor3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;
}


#footer-incricao {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: var(--cor2-2);
}
#input-group {
    display: flex;
    align-items: center;
    background-color: var(--cor0);
    border-radius: 4px;
}
#input-group input {
    all: unset;
    padding: 0.2rem;
    width: 100%;
}
#input-group button {
    background-color: var(--cor1);
    border: none;
    color: var(--cor0);
    padding: 0px 1.25rem;
    font-size: 1.35rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

#input-group button:hover {
    opacity: 0.8;
}

#footer-contatos p {
    margin-bottom: 0.75rem;
    color: var(--cor0);
    
}

#footer-redes-sociais {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}


#footer-redes-sociais .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--cor0);
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer-redes-sociais .footer-link i {
    font-size: 1.45rem;
}

#footer-redes-sociais .footer-link:hover {
    transform: translate(-3px, -3px);
}

.footer-lista {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    text-align: right;

}

.footer-lista .footer-link {
    color: var(--cor0);
}

.footer-lista .footer-link:hover {
    color: var(--cor1-1);
}

@media screen and (max-width:800px) {
    #footer-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width:440px) {
    #footer-content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 1.5rem;
        justify-content: right;
    }
}

