@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "poppins", sans-serif;
    letter-spacing: 0.6px;
}

:root {
    --cor0: #dcdcde;
    --cor1: #f99c46;
    --cor1-1: #f99c46b2;
    --cor2: #ffaf59;
    --cor2-2: #ffaf59d3;
    --cor3: #7a7e8a;
    --cor3-1: #7a7e86b2;

    

}

body {
    background-color: var(--cor0);
    font-family: "poppins", sans-serif;
}
main {
    min-width: 300px;
    max-width: 700px;
    margin: auto;
    margin-bottom: 400px;
    padding: 20px;
    
}
a.voltar-moda {
    color: #000000;
    margin: 30px;
}
 
.titulo-materia {
    font-weight: 600;
    font-size: 2em;
    margin: 30px 0px 0px -10px;
    letter-spacing: 3px;
}

.subtitulo-materia {
    font-weight: normal;
    letter-spacing: 3px;
}

article > h6 {
    margin: 30px;
 }
.paragrafo {
    margin: 20px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.02em;
    line-height: 2.1em;
}

.imagens {
    width: 100%;
    
}

.div-intera {
    margin: 100px 0px 10px 50px;
}
p.interacao {
    font-size: larger;
    font-weight: 700;
    letter-spacing: 2px;
}

header > p {
    background-color: var(--cor3);
    color: #f99c46;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-weight: 200;
    font-style: normal
}



.centralizar {
    text-align: center;
    margin-top: -50px; 
}

header > div > img {
    height: auto;
    width: 200px;
}

.material-symbols-outlined {
    margin-top: 7px;
    margin-left: 10px;
    
}

.menu-nav {
    display: flex;
    flex-direction: column; 
    align-items: center;
    white-space: nowrap;
    
}

.nav {
  width: 100%;
  max-width: 700px; 
  display: flex;
  justify-content: space-between;
  border-top: 1px solid var(--cor1);
  border-bottom: 1px solid var(--cor1);
  overflow-x: auto;
}

.nav::-webkit-scrollbar {
  display: none;
}

.nav a {
  text-decoration: none;
  color: #111;
  font-size: 15px;
  padding: 6px 10px;
}

footer {
    width: 100%;
    color: var(--cor2-2);
    
}

#footer-content {
    background-color: var(--cor3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 3rem 3.5rem;

}

#footer-incricao {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
#input-group {
    display: flex;
    align-items: center;
    background-color: var(--cor0);
    border-radius: 4px;
}
#input-group input {
    all: unset;
    padding: 0.2rem;
    width: 100%;
}
#input-group button {
    background-color: var(--cor1);
    border: none;
    color: var(--cor0);
    padding: 0px 1.25rem;
    font-size: 1.35rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
}

#input-group button:hover {
    opacity: 0.8;
}

#footer-contatos p {
    margin-bottom: 0.75rem;
    color: var(--cor0);
    
}

#footer-redes-sociais {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}


#footer-redes-sociais .footer-link {
    height: 2.5rem;
    width: 2.5rem;
    color: var(--cor0);
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer-redes-sociais .footer-link i {
    font-size: 1.45rem;
}

#footer-redes-sociais .footer-link:hover {
    transform: translate(-3px, -3px);
}

.footer-lista {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
    text-align: right;

}

.footer-lista .footer-link {
    color: var(--cor0);
}

.footer-lista .footer-link:hover {
    color: var(--cor1-1);
}

@media screen and (max-width:800px) {
    #footer-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

@media screen and (max-width:440px) {
    #footer-content{
        grid-template-columns: repeat(1, 1fr);
        padding: 3rem 10rem;
        justify-content: right;
    }
}

