@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --cor0: #dcdcde;
    --cor1: #f99c46;
    --cor1-1: #f99c46b2;
    --cor2: #ffaf59;
    --cor3: #7a7e8a;
    --cor3-1: #7a7e86b2;

    

}

body {
    background-color: var(--cor0);
    font-family: "poppins", sans-serif;
}

header > p {
    background-color: var(--cor3);
    color: #f99c46;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    font-weight: 200;
    font-style: normal
}



.centralizar {
    text-align: center;
    margin-top: -50px; 
}

header > div > img {
    height: auto;
    width: 200px;
}

.material-symbols-outlined {
    margin-top: 7px;
    margin-left: 10px;
    
}
